{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{#<div class="ec-footerRole">#}
{#    <div class="ec-footerRole__inner">#}
{#        <ul class="ec-footerNavi">#}
{#            <li class="ec-footerNavi__link">#}
{#                <a href="{{ url('help_about') }}">{{ '当サイトについて'|trans }}</a>#}
{#            </li>#}
{#            <li class="ec-footerNavi__link">#}
{#                <a href="{{ url('help_privacy') }}">{{ 'プライバシーポリシー'|trans }}</a>#}
{#            </li>#}
{#            <li class="ec-footerNavi__link">#}
{#                <a href="{{ url('help_tradelaw') }}">{{ '特定商取引法に基づく表記'|trans }}</a>#}
{#            </li>#}
{#            <li class="ec-footerNavi__link">#}
{#                <a href="{{ url('contact') }}">{{ 'お問い合わせ'|trans }}</a>#}
{#            </li>#}
{#        </ul>#}
{#        <div class="ec-footerTitle">#}
{#            <div class="ec-footerTitle__logo">#}
{#                <a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a>#}
{#            </div>#}
{#            <div class="ec-footerTitle__copyright">copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}




<div id="custom_footer shopify-section-footer" class="shopify-section">
<footer class="site-footer" data-section-id="footer" data-section-type="footer-section">
  <div id="FooterMenus" class="footer__section footer__section--menus">
    <div class="page-width">
      <div class="footer__mainBox">
        <div class="footer__logo">
          
            <div class="footer__logoImg">
              <img src="{{ asset('/html/template/default/assets/img/logo.png') }}"" alt="Logo footer" class="u-img">
            </div>
          
        </div>
        <div class="footer__blocks">
          
<div class="footer__block footer__block--1" data-type="menu">
    <ul class="footer__menu footer__menu--menu-footer-1 footer__menu--pc">
    <li><a href="/products/list?category_id=1"> コスプレ衣装・コスチューム</a></li>
    <li><a href="/products/list?category_id=5">ロリータ (ロリィタ) ファッション</a></li>
    <li><a href="/products/list?category_id=23">ハロウィン コスプレ</a></li>
    <li><a href="/products/list?category_id=117">パーティグッズ</a></li>
    </ul>


<nav class="footer__Nav footer__Nav--primary footer__Nav--menu-footer-1 footer__menu--sp">

    <div class="Collapsible">
      <button class="Collapsible__Button Heading u-h6  c-hasChild">コスプレ衣装 コスチューム<span class="Collapsible__Plus"></span></button>
      <div class="Collapsible__Inner" style="display: none;">
      <div class="Collapsible__Content">
      <div class="Collapsible">
        <a href="/products/list?category_id=54" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">囚人 / 海賊</a>
    </div>

    <div class="Collapsible">
        <a href="/products/list?category_id=53" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">CA / パイロット</a></div>
        <div class="Collapsible">
        <a href="/products/list?category_id=67" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">メンズコスチューム</a></div><div class="Collapsible">
        <a href="/products/list?category_id=64" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">パーツアイテム</a></div><div class="Collapsible">
        <a href="/products/list?category_id=65">ふくらむコスチューム</a></div><div class="Collapsible">
        <a href="/products/list?category_id=59" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">メンズ コスプレ</a></div><div class="Collapsible">
        <a href="/products/list?category_id=60" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">パニエ / ドロワーズ</a></div></div>
        
        
      </div></div><div class="Collapsible"><button class="Collapsible__Button Heading u-h6  c-hasChild">ロリータ (ロリィタ)<span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner" style="display: none;">
        <div class="Collapsible__Content"><div class="Collapsible">
        <a href="/products/list?category_id=73" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">シャツ / ブラウス</a></div><div class="Collapsible">
        <a href="/products/list?category_id=72" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">スカート</a></div><div class="Collapsible">
        <a href="/products/list?category_id=71" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">ジャンパースカート</a></div><div class="Collapsible">
        <a href="/products/list?category_id=70" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">ワンピース</a></div></div>
      </div></div><div class="Collapsible"><button class="Collapsible__Button Heading u-h6  c-hasChild">人気雑貨<span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner" style="display: none;">
        <div class="Collapsible__Content"><div class="Collapsible">
        <a href="/products/list?category_id=84" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">ベビードール</a></div><div class="Collapsible">
        <a href="/products/list?category_id=87" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">ピアス イヤリング</a></div><div class="Collapsible">
        <a href="/products/list?category_id=88" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">ヘアアクセサリー</a></div><div class="Collapsible">
        <a href="/products/list?category_id=94" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">バッグ</a></div></div>
      </div></div><div class="Collapsible">
      <button class="Collapsible__Button Heading u-h6  c-hasChild">その他<span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner" style="display: none;">
        <div class="Collapsible__Content"><div class="Collapsible">
        <a href="/products/list?category_id=97" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">うさ耳帽子</a></div><div class="Collapsible">
        <a href="/products/list?category_id=93" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">ハット</a></div><div class="Collapsible">
        <a href="/products/list?category_id=91" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">リボン / ネクタイ</a></div><div class="Collapsible">
        <a href="/products/list?category_id=85" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">タイツ / ソックス</a></div></div>
      </div></div></nav></div>
            
<div class="footer__block footer__block--2" data-type="menu"><ul class="footer__menu footer__menu--menu-footer-2 footer__menu--pc">
<li><a href="/entry">新規会員登録</a></li>
<li><a href="/help/member">会員サービス</a></li>
<li><a href="/help/pro_member">プロ会員サービス</a></li>
<li><a href="https://ecnext.jp/user_data/IntellectualProperty">知的財産権</a></li>
</ul>


<nav class="footer__Nav footer__Nav--primary footer__Nav--menu-footer-2 footer__menu--sp">
<div class="Collapsible"><a href="/entry" class="Collapsible__Button Heading Link Link--primary u-h6">新規会員登録</a></div>
<div class="Collapsible"><a href="/help/member" class="Collapsible__Button Heading Link Link--primary u-h6">会員サービス</a></div>
<div class="Collapsible"><a href="/help/pro_member" class="Collapsible__Button Heading Link Link--primary u-h6">プロ会員サービス</a></div>
</nav></div>
            
<div class="footer__block footer__block--3" data-type="menu"><ul class="footer__menu footer__menu--menu-footer-3 footer__menu--pc">
<li><a href="/help/about">ABOUT US</a></li>
<li><a href="/help/guide">ご利用ガイド</a></li>
<li><a href="/help/faq">よくあるご質問（FAQ）</a></li>
<li><a href="/contact">お問い合わせ</a></li></ul></div>


<nav class="footer__Nav footer__Nav--primary footer__Nav--menu-footer-3 footer__menu--sp">
<div class="Collapsible"><a href="/help/about" class="Collapsible__Button Heading Link Link--primary u-h6">ABOUT US</a></div>
<div class="Collapsible"><a href="/help/guide" class="Collapsible__Button Heading Link Link--primary u-h6">ご利用ガイド</a></div>
</nav>
<nav class="footer__Nav footer__Nav--primary footer__Nav--menu-footer-3 footer__menu--sp">
<div class="Collapsible"><a href="/help/faq" class="Collapsible__Button Heading Link Link--primary u-h6">よくあるご質問（FAQ）</a></div>
<div class="Collapsible"><a href="/contact" class="Collapsible__Button Heading Link Link--primary u-h6">お問い合わせ</a></div>
</nav>

</div>
            
<div class="footer__block footer__block--4" data-type="payment"></div>
            

        <div class="footer__paymentBox"><div class="footer__mobile-section">
  <div class="footer__blocks--mobile"><div class="footer__block--mobile">
  <ul class="inline-list payment-icons">
  
              <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa">
                <title id="pi-visa">Visa</title>
                <path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path>
                <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
                <path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
              </li>

              <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master">
                <title id="pi-master">Mastercard</title>
                <path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path>
                <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle>
                <path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
              </li>

              <li class="icon--payment">
                <svg width="38" height="24" role="img" aria-labelledby="pi-jcb" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg">
                <title id="pi-jcb">JCB</title><g fill="none" fill-rule="evenodd"><g fill-rule="nonzero">
                <path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"></path>
                <path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"></path></g>
                <path d="M11.5 5H15v11.5a2.5 2.5 0 0 1-2.5 2.5H9V7.5A2.5 2.5 0 0 1 11.5 5z" fill="#006EBC"></path>
                <path d="M18.5 5H22v11.5a2.5 2.5 0 0 1-2.5 2.5H16V7.5A2.5 2.5 0 0 1 18.5 5z" fill="#F00036"></path>
                <path d="M25.5 5H29v11.5a2.5 2.5 0 0 1-2.5 2.5H23V7.5A2.5 2.5 0 0 1 25.5 5z" fill="#2AB419"></path><path d="M10.755 14.5c-1.06 0-2.122-.304-2.656-.987l.78-.676c.068 1.133 3.545 1.24 3.545-.19V9.5h1.802v3.147c0 .728-.574 1.322-1.573 1.632-.466.144-1.365.221-1.898.221zm8.116 0c-.674 0-1.388-.107-1.965-.366-.948-.425-1.312-1.206-1.3-2.199.012-1.014.436-1.782 1.468-2.165 1.319-.49 3.343-.261 3.926.27v.972c-.572-.521-1.958-.898-2.919-.46-.494.226-.737.917-.744 1.448-.006.56.245 1.252.744 1.497.953.467 2.39.04 2.919-.441v1.01c-.358.255-1.253.434-2.129.434zm8.679-2.587c.37-.235.582-.567.582-1.005 0-.438-.116-.687-.348-.939-.206-.207-.58-.469-1.238-.469H23v5h3.546c.696 0 1.097-.23 1.315-.415.283-.25.426-.53.426-.96 0-.431-.155-.908-.737-1.212zm-1.906-.281h-1.428v-1.444h1.495c.956 0 .944 1.444-.067 1.444zm.288 2.157h-1.716v-1.513h1.716c.986 0 1.083 1.513 0 1.513z" fill="#FFF" fill-rule="nonzero"></path></g></svg>
              </li>

              <li class="icon--payment">
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express">
                <title id="pi-american_express">American Express</title><g fill="none">
                <path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path>
                <path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path>
                <path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>
              </li>
              
              <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-diners_club">
                <title id="pi-diners_club">Diners Club</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path>
                <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M12 12v3.7c0 .3-.2.3-.5.2-1.9-.8-3-3.3-2.3-5.4.4-1.1 1.2-2 2.3-2.4.4-.2.5-.1.5.2V12zm2 0V8.3c0-.3 0-.3.3-.2 2.1.8 3.2 3.3 2.4 5.4-.4 1.1-1.2 2-2.3 2.4-.4.2-.4.1-.4-.2V12zm7.2-7H13c3.8 0 6.8 3.1 6.8 7s-3 7-6.8 7h8.2c3.8 0 6.8-3.1 6.8-7s-3-7-6.8-7z" fill="#3086C8"></path></svg>
              </li>
              
              <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-familymart">
                <title id="pi-familymart">FamilyMart</title><path d="M0 6.1h38v11.81H0z" fill="#fff"></path>
                <path d="M35.89 0H2.11A2.14 2.14 0 0 0 0 2.17V6.1h38V2.2A2.14 2.14 0 0 0 35.92 0z" fill="#00b236"></path>
                <path d="M0 21.8A2.14 2.14 0 0 0 2.08 24h33.81A2.14 2.14 0 0 0 38 21.83v-3.92H0z" fill="#0095e3"></path>
                <path d="M.96 8.98v5.65H2.1v-2.47h2.4v-1.09H2.1v-1h2.44V8.98H.96zm6.92 4.84V12c0-.61-.31-1.38-1.64-1.38a3.32 3.32 0 0 0-1.24.22v1a2 2 0 0 1 1.09-.31c.36 0 .71.12.71.54a2 2 0 0 0-.63-.1A1.38 1.38 0 0 0 4.6 13.4 1.25 1.25 0 0 0 6 14.66a1.46 1.46 0 0 0 .9-.29.7.7 0 0 0 .09.26h1.13c-.12-.11-.24-.34-.24-.81zm-2.2-.54c0-.31.27-.52.65-.52a1 1 0 0 1 .47.11v.67a.83.83 0 0 1-.57.21c-.36 0-.55-.2-.55-.47zm25.53.54V12c0-.61-.31-1.38-1.64-1.38a3.33 3.33 0 0 0-1.24.23v1a2 2 0 0 1 1.09-.31c.36 0 .71.12.71.54a2 2 0 0 0-.63-.1 1.38 1.38 0 0 0-1.57 1.4 1.25 1.25 0 0 0 1.35 1.26 1.45 1.45 0 0 0 .9-.29.81.81 0 0 0 .09.26h1.18c-.14-.09-.24-.32-.24-.79zM29 13.28c0-.31.27-.52.65-.52a1 1 0 0 1 .47.11v.67a.83.83 0 0 1-.57.21c-.34 0-.55-.2-.55-.47zm-16.35-2.63a1.39 1.39 0 0 0-1.13.46 1.26 1.26 0 0 0-1-.46 1.43 1.43 0 0 0-1 .36v-.33h-1v3.95H9.6V12a.72.72 0 0 1 .57-.3c.32 0 .51.22.51.62v2.33h1.1v-2.7a.68.68 0 0 1 .56-.27c.35 0 .51.25.51.62v2.33H14V11.9a1.19 1.19 0 0 0-1.35-1.25zm3.84-1.67h1.08v5.65h-1.08zm8.36 1.76l-1.43-1.76h-1.18v5.65h1.18v-3.89l1.43 1.89 1.42-1.89v3.89h1.19V8.98h-1.19l-1.42 1.76zm-10.18-.05h1.08v3.94h-1.08zm.53-1.79a.7.7 0 1 0 .7.7.7.7 0 0 0-.7-.7zm17.64 2.2v-.41h-1v3.95h1.08v-2.48a1 1 0 0 1 .77-.38 1 1 0 0 1 .61.2v-1.2a1 1 0 0 0-.52-.14 1.1 1.1 0 0 0-.94.46zm3.74 2.53c-.34 0-.47-.26-.47-.56v-1.35H37v-1h-.92V9.2L35 9.66v1h-.58v1H35v1.51c0 .82.33 1.45 1.29 1.45a2 2 0 0 0 .71-.11v-1.04a.6.6 0 0 1-.42.16zm-17.71 2.02h1.21l1.82-4.96h-1.18l-.75 2.13-.82-2.13h-1.23l1.49 3.58-.54 1.38z" fill="#008cd6"></path></svg>
              </li>
              

              
              <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-lawson">
                <title id="pi-lawson">Lawson</title>
                <path d="M35 0H3a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h32a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z" fill="#e8e8e8"></path>
                <path d="M35 1a2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h32" fill="#fff"></path>
                <path d="M21.67 12.3H24c.2 0 .2.06.2.17v.85c0 .21 0 .29-.35.29H21.7c-.08 0-.19 0-.19-.13v-.66c0-.11 0-.15-.15-.15h-.48c-.07 0-.14 0-.14.15V14c0 .39.16.63.66.63h2.77a.7.7 0 0 0 .77-.74v-1.71c0-.37-.28-.66-.78-.66h-2.43c-.12 0-.23 0-.23-.19v-.78c0-.09 0-.16.2-.16H24c.22 0 .17 0 .17.2V11c0 .12.1.12.21.12h.43c.12 0 .14-.06.14-.15v-.69c0-.69-.24-.93-.81-.93h-2.43c-.63 0-1 0-1 .93v1.34c0 .43.27.63.94.63m4.89-.16v-1.45c0-.2.11-.24.23-.24H29c.15 0 .2 0 .2.16v2.88c0 .17-.1.17-.2.17h-2.24c-.15 0-.22 0-.22-.18zm0 2.52h2.57c.57 0 .86-.19.86-.87v-3.42c0-.63-.26-.93-.83-.93h-2.53c-.53 0-.85.22-.85.93v3.53c0 .44.2.76.79.76M1.94 10.39h.69v3.21H2a.12.12 0 0 0-.12.12v.77a.11.11 0 0 0 .12.12h4a.11.11 0 0 0 .12-.12v-1.76a.12.12 0 0 0-.12-.12h-.52a.12.12 0 0 0-.12.12v.88h-2v-3.22h.65a.12.12 0 0 0 .12-.12v-.76a.12.12 0 0 0-.12-.12H1.94a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12m7.61.82l.59 1.07h-1.2zm-2.82 3.39h2.12a.12.12 0 0 0 .15-.12v-.77a.12.12 0 0 0-.12-.12h-.69l.31-.54h2.08l.3.54h-.64a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12h2.12a.11.11 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12h-.59L10 10.39h.67a.12.12 0 0 0 .12-.12v-.76a.12.12 0 0 0-.12-.12H8.53a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12h.59L7.3 13.61h-.57a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12m4.89-4.23h.64l1.59 3.21h-.65a.12.12 0 0 0-.12.12v.77a.11.11 0 0 0 .12.12h2.12a.12.12 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12h-.59l1.15-2.35L17 13.61h-.63a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12h2.12a.11.11 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12h-.6l1.57-3.21h.62a.12.12 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12H18a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12h.64l-1.16 2.36-1.17-2.36h.62a.12.12 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12h-2.11a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12h.62l-1.14 2.34-1.16-2.34h.62a.12.12 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12h-2.14a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12m18.98 4.21h2.12a.11.11 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12H32v-2.3l2.46 2.3h-.55a.12.12 0 0 0-.12.12v.77a.11.11 0 0 0 .12.12h2.12a.11.11 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12h-.68v-3.21h.68a.12.12 0 0 0 .12-.12v-.76a.12.12 0 0 0-.12-.12h-2.09a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12h.67v2.26L32.2 10.4h.53a.12.12 0 0 0 .12-.12v-.77a.12.12 0 0 0-.12-.12H30.6a.12.12 0 0 0-.12.12v.77a.12.12 0 0 0 .12.12h.65v3.21h-.65a.12.12 0 0 0-.12.12v.77a.11.11 0 0 0 .12.12" fill="#007bc2"></path></svg>
              </li>
              

              
              <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-ministop">
                <title id="pi-ministop">Ministop</title><defs><style>.c{fill:#004097}</style></defs>
                <path d="M35 0H3a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h32a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z" fill="#e8e8e8"></path>
                <path d="M35 1a2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h32" fill="#fff"></path>
                <path class="c" d="M21.19 4a.572.572 0 0 0 .89.72A2.92 2.92 0 0 1 25.43 4c1.56.55 1.78 2.92 1.79 2.95a.55.55 0 0 0 .35.48 3.71 3.71 0 0 1 2.61 3.54 3.06 3.06 0 0 1-.06.6.62.62 0 0 0 .49.67 2.27 2.27 0 0 1 1.89 2.46 3 3 0 0 1-2.43 2.76.55.55 0 0 0-.46.55v2.21H8.87v-8.28a.55.55 0 0 0-.55-.55h-2L13.38 4 16 6.63a.57.57 0 0 0 .8-.81l-3-3a.55.55 0 0 0-.78 0L4.55 11.6a.55.55 0 0 0 .39 1H7.7v8.31a.55.55 0 0 0 .55.55h21.92a.55.55 0 0 0 .55-.55v-2.4a3.89 3.89 0 0 0 2.9-3.75 3.4 3.4 0 0 0-2.34-3.49V11a4.82 4.82 0 0 0-3-4.43c-.12-.78-.61-2.95-2.46-3.61A4 4 0 0 0 21.19 4z"></path>
                <path class="c" d="M12.11 7.84a.76.76 0 0 0-.5.71v3.72a.76.76 0 1 0 1.52 0v-1.66l.49.55a.76.76 0 0 0 .55.27.77.77 0 0 0 .55-.25l.65-.71v1.8a.76.76 0 0 0 1.52 0V8.55A.76.76 0 0 0 15.57 8l-1.36 1.55-1.27-1.49a.76.76 0 0 0-.83-.22zm5.76.71v3.75a.76.76 0 1 0 1.52 0V8.55a.76.76 0 1 0-1.52 0zm7.55 0v3.75a.76.76 0 1 0 1.52 0V8.55a.76.76 0 1 0-1.52 0zm-4.51-.73a.76.76 0 0 0-.55.72v3.75a.76.76 0 1 0 1.52 0V11l1.22 1.76a.76.76 0 0 0 1.38-.44V8.55a.76.76 0 1 0-1.52 0v1.33l-1.22-1.76a.76.76 0 0 0-.83-.3zm-8.38 10.09c-.32.12-.62-.14-.81-.38a.65.65 0 1 0-1 .78 2 2 0 0 0 2.26.77 2 2 0 0 0 1.27-1.81A1.65 1.65 0 0 0 13 15.78c-.73-.23-.84-.47-.86-.52s-.11-.41.5-.38a1 1 0 0 1 .55.34.65.65 0 0 0 1-.79 2.26 2.26 0 0 0-1.51-.84 2 2 0 0 0-1.52.65l-.07.08a1.57 1.57 0 0 0-.2 1.35 2.36 2.36 0 0 0 1.7 1.33.39.39 0 0 1 .32.45.43.43 0 0 1-.38.46zm2.56-4.1a.65.65 0 1 0 0 1.29h2.63a.65.65 0 0 0 0-1.29z"></path>
                <path class="c" d="M15.63 14.59v3.73a.76.76 0 1 0 1.52 0v-3.73a.76.76 0 1 0-1.52 0zm10.66-.89H24.8a.76.76 0 0 0-.76.76v3.86a.76.76 0 1 0 1.52 0v-.89h.72a2.05 2.05 0 0 0 1.95-1.9 1.91 1.91 0 0 0-1.94-1.83zm-.08 2.21h-.55V15h.58s.47.09.47.44-.5.46-.5.46zm-5.47-2.33a2.76 2.76 0 1 0 2.76 2.76 2.76 2.76 0 0 0-2.76-2.76zm0 4a1.16 1.16 0 1 1 1.16-1.16 1.16 1.16 0 0 1-1.16 1.16z"></path></svg>
              </li>
              
</ul>

        </div></div>
</div>
</div>
      </div>
    </div>
  </div>

  <div class="footer__section footer__section--copyright">
    <div class="page-width text-center small--text-left">
      <div class="footer__base-links"><span>Copyright (c) <script>document.write(new Date().getFullYear());</script> Ecnext.jp all rights reserved.
</span></div>
      <div class="footer__policy">
      <a href="/help/agreement">利用規約</a>
      <a href="/help/tradelaw">特定商取引法に基づく表記</a>
      <a href="/help/privacy">個人情報保護方針</a></div>
    </div>
  </div>
</footer>


</div>