{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerNav">
    {% if is_granted('ROLE_USER') %}
        <div class="ec-headerNav__item custom_pc_mypage">
            <a href="{{ url('mypage') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.62" height="20.23" viewBox="0 0 19.62 20.23">
          <g id="Group_8" data-name="Group 8" transform="translate(0.402 0.4)">
            <path id="Path_84" data-name="Path 84" d="M379.943,569.541a.42.42,0,0,1-.408-.316,9.277,9.277,0,0,0-17.963,0,.421.421,0,1,1-.816-.21,10.12,10.12,0,0,1,19.6,0,.421.421,0,0,1-.408.526Zm-9.39-9.695a5.269,5.269,0,1,1,5.269-5.269A5.275,5.275,0,0,1,370.553,559.846Zm0-9.7a4.426,4.426,0,1,0,4.426,4.426A4.431,4.431,0,0,0,370.553,550.151Z" transform="translate(-360.742 -549.308)" fill="#eb8d3b" stroke="#222" stroke-width="0.8"></path>
          </g>
        </svg>
                <span class="ec-headerNav__itemLink">{{ 'マイページ'|trans }}</span>
            </a>
        </div>
        <div class="ec-headerNav__item custom_pc_search">
            <a href="javascript:void(0)" class="custom_search_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.87" height="19.23" viewBox="0 0 18.87 19.23">
        <path id="Path_6" data-name="Path 6" d="M1504.246,567.933l-5.029-5.03a8.021,8.021,0,1,0-.52.487l5.046,5.046a.356.356,0,0,0,.5-.5ZM1486.2,557.314a7.292,7.292,0,1,1,7.292,7.292A7.292,7.292,0,0,1,1486.2,557.314Z" transform="translate(-1485.035 -548.859)" fill="#eb8d3b" stroke="#222" stroke-width="0.9"></path>
      </svg>
                <span class="ec-headerNav__itemLink">検索</span>
            </a>
        </div>

        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item favorite custom_pc_favorite">
                <a href="{{ url('mypage_favorite') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.535 19.017">
        <g data-name="Group 9" transform="translate(0.4 0.4)">
          <path id="Path_85" data-name="Path 85" d="M1121.889,567.525a.979.979,0,0,1-.755-.338l-7.222-7.7a5.809,5.809,0,0,1-1.891-4.347,5.681,5.681,0,0,1,5.5-5.835,5.453,5.453,0,0,1,4.363,2.3,5.379,5.379,0,0,1,4.375-2.3,5.877,5.877,0,0,1,3.608,10.182l-7.222,7.7A.981.981,0,0,1,1121.889,567.525Zm-4.369-17.458a4.922,4.922,0,0,0-4.74,5.076,5.038,5.038,0,0,0,1.644,3.787.285.285,0,0,1,.028.027l7.235,7.711a.255.255,0,0,0,.4,0l7.235-7.71a.275.275,0,0,1,.029-.027,5.119,5.119,0,0,0-3.1-8.863,4.583,4.583,0,0,0-4.037,2.423.378.378,0,0,1-.328.2h0a.379.379,0,0,1-.328-.189A4.744,4.744,0,0,0,1117.52,550.067Z" transform="translate(-1112.021 -549.308)" fill="#eb8d3b" stroke="#222" stroke-width="0.8"></path>
  </g>
  </svg>
                    <span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>
                </a>
            </div>
        {% endif %}

        <div class="ec-headerNav__item cart custom_pc_cart">
            <a href="{{ url('cart') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.86" height="19.44" viewBox="0 0 23.86 19.44">
            <g id="Group_10" data-name="Group 10" transform="translate(0.75 0.75)">
              <path id="Path_87" data-name="Path 87" d="M2087.345,327.379l-3.943-12.911h-3.364" transform="translate(-2080.038 -314.469)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
              <path id="Path_88" data-name="Path 88" d="M2150.27,384.576h14.019l2.535-8.3h-18.791" transform="translate(-2142.962 -371.665)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
              <circle id="Ellipse_1" data-name="Ellipse 1" cx="1.725" cy="1.725" r="1.725" transform="translate(7.151 16.995) rotate(-45)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
              <circle id="Ellipse_2" data-name="Ellipse 2" cx="1.725" cy="1.725" r="1.725" transform="translate(16.982 18.304) rotate(-77.435)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
            </g>
          </svg>
                <span class="ec-headerNav__itemLink">カート</span>
            </a>
        </div>
        <div class="ec-headerNav__item custom_pc_logout">
            <a href="{{ url('logout') }}">
                <i class="ec-headerNav__itemIcon fas fa-lock fa-fw"></i>
                <span class="ec-headerNav__itemLink">{{ 'ログアウト'|trans }}</span>
            </a>
        </div>
        
        
        
        
    {% else %}
        <div class="ec-headerNav__item custom_pc_login">
            <a href="{{ url('mypage_login') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.62" height="20.23" viewBox="0 0 19.62 20.23">
          <g id="Group_8" data-name="Group 8" transform="translate(0.402 0.4)">
            <path id="Path_84" data-name="Path 84" d="M379.943,569.541a.42.42,0,0,1-.408-.316,9.277,9.277,0,0,0-17.963,0,.421.421,0,1,1-.816-.21,10.12,10.12,0,0,1,19.6,0,.421.421,0,0,1-.408.526Zm-9.39-9.695a5.269,5.269,0,1,1,5.269-5.269A5.275,5.275,0,0,1,370.553,559.846Zm0-9.7a4.426,4.426,0,1,0,4.426,4.426A4.431,4.431,0,0,0,370.553,550.151Z" transform="translate(-360.742 -549.308)" fill="#eb8d3b" stroke="#222" stroke-width="0.8"></path>
          </g>
        </svg>
                <span class="ec-headerNav__itemLink">{{ 'ログイン'|trans }}</span>
            </a>
        </div>
        
        
        
        <div class="ec-headerNav__item custom_pc_search">
            <a href="javascript:void(0)" class="custom_search_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.87" height="19.23" viewBox="0 0 18.87 19.23">
        <path id="Path_6" data-name="Path 6" d="M1504.246,567.933l-5.029-5.03a8.021,8.021,0,1,0-.52.487l5.046,5.046a.356.356,0,0,0,.5-.5ZM1486.2,557.314a7.292,7.292,0,1,1,7.292,7.292A7.292,7.292,0,0,1,1486.2,557.314Z" transform="translate(-1485.035 -548.859)" fill="#eb8d3b" stroke="#222" stroke-width="0.9"></path>
      </svg>
                <span class="ec-headerNav__itemLink">検索</span>
            </a>
        </div>

        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item favorite custom_pc_favorite">
                <a href="{{ url('mypage_favorite') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.535 19.017">
        <g data-name="Group 9" transform="translate(0.4 0.4)">
          <path id="Path_85" data-name="Path 85" d="M1121.889,567.525a.979.979,0,0,1-.755-.338l-7.222-7.7a5.809,5.809,0,0,1-1.891-4.347,5.681,5.681,0,0,1,5.5-5.835,5.453,5.453,0,0,1,4.363,2.3,5.379,5.379,0,0,1,4.375-2.3,5.877,5.877,0,0,1,3.608,10.182l-7.222,7.7A.981.981,0,0,1,1121.889,567.525Zm-4.369-17.458a4.922,4.922,0,0,0-4.74,5.076,5.038,5.038,0,0,0,1.644,3.787.285.285,0,0,1,.028.027l7.235,7.711a.255.255,0,0,0,.4,0l7.235-7.71a.275.275,0,0,1,.029-.027,5.119,5.119,0,0,0-3.1-8.863,4.583,4.583,0,0,0-4.037,2.423.378.378,0,0,1-.328.2h0a.379.379,0,0,1-.328-.189A4.744,4.744,0,0,0,1117.52,550.067Z" transform="translate(-1112.021 -549.308)" fill="#eb8d3b" stroke="#222" stroke-width="0.8"></path>
  </g>
  </svg>
                    <span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>
                </a>
            </div>
        {% endif %}

        <div class="ec-headerNav__item cart custom_pc_cart">
            <a href="{{ url('cart') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.86" height="19.44" viewBox="0 0 23.86 19.44">
            <g id="Group_10" data-name="Group 10" transform="translate(0.75 0.75)">
              <path id="Path_87" data-name="Path 87" d="M2087.345,327.379l-3.943-12.911h-3.364" transform="translate(-2080.038 -314.469)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
              <path id="Path_88" data-name="Path 88" d="M2150.27,384.576h14.019l2.535-8.3h-18.791" transform="translate(-2142.962 -371.665)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
              <circle id="Ellipse_1" data-name="Ellipse 1" cx="1.725" cy="1.725" r="1.725" transform="translate(7.151 16.995) rotate(-45)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
              <circle id="Ellipse_2" data-name="Ellipse 2" cx="1.725" cy="1.725" r="1.725" transform="translate(16.982 18.304) rotate(-77.435)" fill="none" stroke="#222" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
            </g>
          </svg>
                <span class="ec-headerNav__itemLink">カート</span>
            </a>
        </div>
        
    {% endif %}
</div>