{#
Copyright (C) SPREAD WORKS Inc. All Rights Reserved.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% set const = TabaCMSConstants %}
{% set menus = [constant('PLUGIN_CATEGORY_ID',const),constant('PLUGIN_CODE_LC',const),constant('PLUGIN_CODE_LC',const)~'_type'] %}
{% set bind_prefix = constant('ADMIN_BIND_PREFIX',const) %}
{% set tag_id_prefix = constant('PLUGIN_CODE_LC',const)~'_type_list' %}
{% set trans_prefix = constant('PLUGIN_CODE_LC',const)~'.admin' %}
{% set include_prefix = constant('PLUGIN_CODE',const)~'/Resource/template/admin/' %}
{% set body_class = constant('PLUGIN_CODE_LC',const)~'_page' %}
{% block title %}{{ constant('PAGE_TITLE',const)|raw }}{% endblock %}
{% block sub_title %}{{ (trans_prefix~'.title.type_list')|trans }}{% endblock %}

{% block main %}
   <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-body">

                        {% if list is empty or list|length == 0 %}
                            データがありません。投稿タイプを登録してください。
                        {% else %}
                            <div class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>投稿タイプ名</th>
                                            <th>公開区分</th>
                                            <th>データキー(スラッグ)</th>
                                            <th>カテゴリー数</th>
                                            <th>投稿数</th>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in list %}
                                        <tr>
                                            <td>{{ row.getTypeId }}</td>
                                            <td><a href="{{ path(bind_prefix~'_type_edit',{type_id:row.getTypeId}) }}">{{ row.getTypeName }}</a></td>
                                            <td>{{ row.getPublicDivName }}</td>
                                            <td>{{ row.getDataKey }}</td>
                                            <td class="text-right">{{ row.getCategoryCount|default(0)|number_format }}</td>
                                            <td class="text-right">{{ row.getPostCount|default(0)|number_format }}</td>
                                            <td class="text-center"><a href="{{ path(bind_prefix~'_type_edit',{type_id:row.getTypeId}) }}"><i class="fa fa-pencil  fa-lg text-secondary"></i> 編集</a></td>
                                            <td class="text-center">
                                                {% if row.getCategoryCount > 0 or row.getPostCount > 0 %}
                                                    <a style="cursor: not-allowed;"><i class="fa fa-close fa-lg text-secondary"></i> 削除</a>
                                                {% else %}
                                                    <a href="{{ path(bind_prefix~'_type_delete',{type_id:row.getTypeId}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="このデータを削除してもよろしいですか？"><i class="fa fa-close fa-lg text-secondary"></i> 削除</a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% if row.publicDiv == 1 %}
                                                    <a href="{{ row.getListURL }}" target="_blank"><i class="fa fa-external-link"></i> 投稿リスト</a>
                                                {% else %}
                                                    <a style="cursor: not-allowed;"><i class="fa fa-external-link"></i> 投稿リスト</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}

                    </div>

                    <div class="card-footer">
                        <div id="{{ tag_id_prefix }}__footer">
                            <div id="{{ tag_id_prefix }}__insert_button" class="text-center btn_area">
                                <a href="{{ path(bind_prefix~'_type_new') }}" class="btn btn-ec-regular">{{ 'admin.common.registration__new'|trans }}</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}